.explain-container {
  min-height: 100vh;
  background-color: #6BC2DA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.explain-card {
  width: 355px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.explain-title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

.explain-item {
  margin-bottom: 20px;
}

.explain-option {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-left: 10px;
}

.explain-bubble {
  background-color: #D5E3F0;
  padding: 14px;
  margin-top: 6px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #333;
  width: fit-content;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn-back {
  background-color: #38ACF4;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);

   /* 클릭 효과 추가 */
  transition: all 0.1s ease-in-out;
}

.btn-back:active {
  transform: scale(0.96);
  box-shadow: none;
}